<ion-header>
  <ion-toolbar>
    <ion-title size="large"><img src="../../assets/pokeAppLogo.png" alt="Ícone do aplicativo"
        style="height: 32px; vertical-align: middle;"> Pokémons</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="checkScroll($event)">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-searchbar [(ngModel)]="searchText" (ionChange)="filterPokemons()"></ion-searchbar>
      </ion-col>
      <ion-col size="4">
        <ion-button [fill]="showFavorites ? 'solid' : 'outline'" color="danger" (click)="toggleShowFavorites()">
          <ion-icon name="heart" slot="start"></ion-icon>
          Favorites
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let pokemon of filteredPokemons"
        (click)="openDetails(pokemon)">
        <ion-card [style.color]="pokemon.color" class="pokemon-card">
          <ion-button fill="clear" (click)="toggleFavorite($event, pokemon)" class="favorite-button">
            <ion-icon slot="icon-only" name="{{pokemon.isFavorite ? 'heart' : 'heart-outline'}}"
              size="medium"></ion-icon>
          </ion-button>
          <img [src]="pokemon.image" style="width: 100px; height: 100px;">
          <ion-card-content>
            <ion-card-title style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ pokemon.name |
              friendlyName }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showScrollTopButton"> 
    <ion-fab-button (click)="scrollTop()" color="danger">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>