<ion-header>
  <ion-toolbar>
    <ion-title size="large">Pokemons</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content (ionInfinite)="loadMore($event)">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-searchbar [(ngModel)]="searchText" (ionChange)="filterPokemons()"></ion-searchbar>
      </ion-col>
      <ion-col size="4">
        <ion-button fill="outline" color="primary" (click)="toggleShowFavorites()">
          <ion-icon name="heart" slot="start"></ion-icon>
          Favorites
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let pokemon of filteredPokemons"
        (click)="openDetails(pokemon)">
        <ion-card [style.color]="pokemon.color" class="pokemon-card">
          <ion-button fill="clear" (click)="toggleFavorite($event, pokemon)" class="favorite-button">
            <ion-icon slot="icon-only" name="{{pokemon.isFavorite ? 'heart' : 'heart-outline'}}"
              size="medium"></ion-icon>
          </ion-button>
          <img [src]="pokemon.image" style="width: 100px; height: 100px;">
          <ion-card-content>
            <ion-card-title style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ pokemon.name |
              friendlyName }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais pokémons...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>